
<footer class="ct-footer ">
                <div class="ct-footer-post">
                    <div class="container">
                        <div class="img-logo" style="text-align: center;">
                            <img src="/imagens/ajudi-logo.png" alt="">
                        </div>
                       <ul style="text-align: center;     margin-top: -48px;">
                           <li>
                              <a href="https://www.facebook.com/lineeeex"><img src="/imagens/facebook.png" ></a>
                              
                           </li>
                           <li>
                               <a href="https://www.linkedin.com/in/aline-wille-07b685173/"><img src="/imagens/linkedin.png" ></a>
                           </li>
                           <li>
                               <a href="https://github.com/alinebeatrizw"><img src="/imagens/github.png" style="    width: 35px;"></a>
                           </li>
                       </ul>
                        <div class="inner-right">
                            <p>
                                Copyright © 2020 Aline Wille
                            </p>
                           
                        </div>
                    </div>
                </div>
            </footer>
