<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/ui/1.8.23/jquery-ui.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.23/themes/base/jquery-ui.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/bootstrap.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/agenda.css">
    <link rel="stylesheet" href="/css/google-drive.css">
    
    <title></title>

    

<script>
        $(function() {  
    $( ".draggable" ).draggable();  
    $(".resizable").resizable();
  });

    </script>
</head>
<body>
    {{>_navbar}}<!--   > indica que esta dentro da pasta partials-->
    
    <div class="container mt-4">
        {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
        {{else}}
        {{/if}}
        {{>_msg}}
        {{{body}}}
    </div>
    
</body>


<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">  
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>  
  <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/agenda.js"></script>
<script src="/js/upload.min.js"></script>
</html>