.card{
            
    float: left;
}
.calendario-todo {
    display: flex;
}

.calendario {
    margin: auto;
    width: 600px;
    background-color: #fff;
    box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.2);
}

.mes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 30px;
    text-align: center;
    background-color: #dfe6e9;
    color: #fff;
}

.dias-semana {
    background-color: #b3b2b2;
    color: #fff;
    padding: 7px 0;
    display: flex;
    font-weight: bold;
}

.dias {
    font-weight: 300;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
}

.dias-semana div,
.dias div {
    text-align: center;
    width: 14.28%;
}

.dias div {
    padding: 10px 0;
    margin-bottom: 10px;
    transition: all 0.4s;
}

.prev_date {
    color: #999;
}

.hoje {
    background-color: #dfe6e9;
    
}

.dias div:hover {
    cursor: pointer;
    background-color: #dfe6e9;
}
.botao-relatorio:hover{
    color: #b3b2b2;
}
.botao-relatorio{
    background-color: #dfe6e9; 
    border:none; 
    color:#b3b2b2;
    font-weight: 300;
    display: flex;
    flex-wrap: wrap;
}


.anterior,
.proximo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 23px;
    transition: all 0.4s;
}

.anterior:hover,
.proximo:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
}

#mes {
    font-size: 30px;
    font-weight: 500;
    color: #b3b2b2;
} 
#date_str{
    color: #b3b2b2;
}
#draggable { float: left;
}  
.draggable{
    cursor: move;
}
.selectAno{
    background-color: #dfe6e9;
    color:#b3b2b2;
    border: none;
    cursor: pointer;
}
.selectAno:hover{
    color: #b3b2b2;
}
.linha-gerar-relatorio{
    display: flex;
}
#conteudo-pdf{
    color: #fff;
}