

.footer {
    background-color:#181f2a;
    bottom:0;
    width:100%;
    margin-top: 20px;
}



.footer-post,
.footer-post .copyright {
    padding: 20px 0;
    text-align: center;
}

.footer-post ul {
    list-style: none;
    padding-left: 0;
   
}

.footer-post ul li {
    display: inline-block;
    margin: 0 20px
}

.footer-post a {
    color: rgba(255, 255, 255, 0.5);
}

.footer-post a:hover {
    text-decoration: underline
}

.footer-post p {
    color: rgba(255, 255, 255, 0.5);
}

@media (min-width:768px) {
    .footer-post p {
        display: inline-block
    }
    .footer-post p + p {
        padding-left: 50px
    }
}

@media (min-width:992px) {
    .footer-post .inner-left {
        float: left
    }
   
}

@media (max-width:991px) {
    .footer-post {
        text-align: center
    }
}


