@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;400;700&family=Raleway:wght@400;700&display=swap'); /*font-family: 'Raleway', sans-serif;*/

/*- Dark Blue (intro and email sign up background): hsl(217, 28%, 15%)
- Dark Blue (main background): hsl(218, 28%, 13%)
- Dark Blue (footer background): hsl(216, 53%, 9%)
- Dark Blue (testimonials background): hsl(219, 30%, 18%)*/
.logo{
    width: 91px;
    margin-top: -60px;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-image:linear-gradient(hsl(218, 28%, 15%),hsl(217, 28%, 13%));
    font-size:14px;

}

.navbarr{
    background-color:transparent;
    display:flex;
    flex-direction:row;
    box-sizing: border-box;
    align-items: center;
    padding:50px 50px;
    
}

.right-nav{
    margin-left: auto;
}
.right-nav a{
    color:white;
    list-style-type:none;
    text-decoration:none;
    padding:30px 30px;
    display:inline-block;
}

.right-nav a:hover{
    color:hsl(176, 68%, 64%);
}

.conteudo{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    text-align:center;
}


.section1{
    margin-top:50px;
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;  
    z-index:1;

}

h1{
    width:800px;
    color:hsl(0, 0%, 100%);
    font-family: 'Raleway', sans-serif;
    font-size:3em;
    line-height:1.5em;
}


.comecar{
    width:300px;
    height:60px;
    border-radius:50px;
    border:none;
    background-image:linear-gradient(to right, hsl(176, 68%, 64%),hsl(198, 60%, 50%));
    color:white;
    font-family: 'Raleway', sans-serif;
    font-weight:700;
    font-size:1.25em;
    margin-top:20px;
    cursor:pointer;
    box-shadow:0px 1px 1px 1px hsl(198, 60%, 50%);
}
.section1 img{
    z-index:1;
    padding-bottom:50px;
}

.comecar:hover{
    background-image:linear-gradient(to left, hsl(176, 68%, 64%),hsl(198, 60%, 50%));
}

.montanha{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    width:100%;
    background-image: url("https://raw.githubusercontent.com/hammercait/fylo-dark-theme-landing-page/658fd0afb4462e6a7e94996ab981bb7d5b336997/images/bg-curvy-desktop.svg");
    background-position:center bottom;
    background-size:cover;
    background-repeat:no-repeat;
    z-index:2;
    padding-top:350px;
}

.montanha-texto{
    position:relative;
    margin-top:-100px;
}


.section2{
    width:100%;
    background-color:hsl(217, 28%, 13%);
    padding-top:150px;
    
}

.cards-index{
    display:inline-grid;
    grid-template-columns: 425px 425px;
    grid-column-gap: 120px;
    grid-row-gap:60px;
    grid-template-rows: 300px 300px;
}

.cards-index img{
    height:100px;
}

h3{
    color:hsl(0, 0%, 100%);
    font-size:1.5em;
}

p{
    color:hsl(0, 0%, 100%);
    font-size:1.1em;
    line-height:1.5em;
    font-weight:400;
}

.section3{
    width:100%;
    padding-top:100px;
    display:inline-flex;
    align-items:center;
    justify-content:center;
}

.texto-video{
    text-align:left;
    margin-left:50px;
}

.texto-video h1{
    width:400px;
}



h5{
    margin-top:35px;
}

h6{
    margin-left:40px;
    margin-top:-12px;
    font-weight:200;
}








.botao-proximo{
    color:white;
    list-style-type:none;
    text-decoration:none;
    display:inline-block;
    cursor: pointer;
}

.botao-proximo:hover{
    color:hsl(176, 68%, 64%);
    text-decoration: none;
}

