<div class="card">
    <div class="card-body">
        <h1><span class="fa fa-lock"></span> Arquivar documentos</h1>

        <p>Entre com a conta do google para fazer upload de arquivos</p>

        <a href={{url}} class="btn btn-light"><span class="fa fa-google-plus"></span> Entrar</a>

    </div>
</div>







