<html>
<head>
   
  
</head>
<body>
    
    <div id="conteudo-pdf">
        
        {{#each eventos}}
        
            <div class="nomeEvento">{{nomeEvento}} </div> <br>
            Data: {{dataInicio}}<br>
            Hora: {{horaEvento}}  
    <hr>
 {{/each}}
    </div>
        <input type="button" value="Imprimir" class="btn btn-dark mt-3" id="btnImprimir" onclick="CriaPDF()"  />
</body>
<script>
    
    function CriaPDF() {
        
        var conteudoPdf = document.getElementById('conteudo-pdf').innerHTML;

        var style = "<style>";
        style = style + ".nomeEvento{font-size: 25px;}";
        style = style + ".tituloPdf {font-size: 35px;}";
        style = style + "</style>";
        
        var win = window.open('', '', 'height=700,width=700');
        
        win.document.write(`

            <html>
                <head>
                    <title>Relatório de Agendamentos</title>

        `)   
        win.document.write(style);                                    
        win.document.write(`
            <head>
                <body>
                    
        `)
           
        win.document.write('<h2 class="tituloPdf"> Relatório de Agendamentos</h2>');
        win.document.write(conteudoPdf);                          
        win.document.write('</body></html>');
        win.print()
        
                                          
                                                       
    }
  
    
</script>
</html>