

<script>
  
var SCOPES = ['https://www.googleapis.com/auth/drive','profile'];
var CLIENT_ID = '200457364652-4a8r3irh3p4gktel1nhtubr59ngo9dak.apps.googleusercontent.com';
var NOME_PASTA = "";
var ID_PASTA = "root"; //pasta padrão para o inicio
var PERMISSAO_PASTA = true;
var LEVEL_PASTA = 0;
var NO_OF_FILES = 1000;
var ARQUIVOS_DRIVE = []; //array para os arquivos
var CONTADOR_ARQUIVO = 0;
var FOLDER_ARRAY = [];


$(function(){
	$("#botao-atualizar").click(function () {
        MostraGifCarregando();
        MostraStatus("Carregando arquivos");
        getDriveFiles();
    });
	
	$("#botao-upload").click(function () {
        $("#input-upload-file").click();
    });
});

</script>



<div id="container-login" class="hide" >
    <div id="login-box">
        <p> Para acessar os arquivos, <br> Entre com sua conta do Google! <br></p>
        <div id="botao-login-google" onclick="handleAuthClick()" data-onsuccess="onSignIn">
            <span class="icon-google">
                <img src="imagens/google.png" >
            </span>
            <span class="texto-botao-google" >Google</span>
          </div>
    </div>
</div>



<div id="drive-box" class="hide">
        <a id="link-logout" class="botao-proximo" onclick="handleSignoutClick() " >Sair</a> <br> <br>
	<div id="drive-breadcrumb">
            <a data-id='root' data-level='0' class="botao-proximo">Início</a>
        <span id="span-navigation"></span>
    </div>
	
	<div id="drive-menu">
        <div id="botao-atualizar" title="Atualizar" class="botao-proximo">Atualizar</div><br>
		<div id="botao-upload" title="Upload" class="botao-proximo">Enviar arquivo</div><br>
		<div id="botao-criar-pasta" title="Criar pasta" class="botao-proximo">Criar Pasta</div>
    </div>
	<div id="drive-conteudo"></div>
	<div id="error-message" class="flash hidden"></div>
	<div id="status-message" class="flash hidden"></div>
</div>

<input type="file" id="input-upload-file" class="hide"/>

<div class="box-input-criar-pasta" id="box-input-criar-pasta">
    <!--form pra criar pasta-->
    <div class="forumulario-pasta">
        <h3 class="clear">Criar nova pasta</h3>
        <div>
            <input type="text" id="nome_pasta" class="text-input" />
        </div>
		<button id="botao-criar" value="Save"  style="background-color:#262c38; border:none"  class="botao-proximo" >Criar</button>
		<button id="botao-fechar" value="Close" style="background-color:#262c38; border:none" class="botao-fechar botao-proximo"> Fechar</button>
    </div>
</div>



<script async defer src="https://apis.google.com/js/api.js" 
      onload="this.onload=function(){};handleClientLoad()" 
      onreadystatechange="if (this.readyState === 'complete') this.onload()">
</script>
