<style>
   .navbar-dark{
    display: none !important;
  }
  .container{
    display: initial;
  }
  .card{
    background-color:hsl(219, 30%, 18%);
    padding:30px;
    font-size:.75em;
    z-index:2;
}
</style>
   

    <div class="content">
        <div class="section1">
          <a href='https://br.freepik.com/vetores/trabalho'><img src="/imagens/ass.jpg" width="550px"></a>
            
            <div class="mountain">
                <div class="mountain-words">
                    <h1>Todos seus dados e arquivos armazenados com segurança!</h1>
                   <a href="usuarios/registro"> <button class="get-started">Começar</button></a>
                </div>
            </div>

            </div>

        <div class="section2">
            <div class="features">
                <div class="tile access">
                  <img src="/imagens/cadastro.png">
                    <h3>Cadastrar Clientes</h3>
                    <p>Armazenar, editar ou até mesmo apagar registros de seus clientes nunca foi tão fácil e prático. Veja você mesmo!</p>
                </div>
                <div class="tile security">
                  <img src="/imagens/arquivo.png">
                    <h3>Arquivar Documentos</h3>
                    <p>Chega de pilhas e pilhas de documentos estragando e ocupando espaço. Com AJUDI você pode armazená-los diretamente na nuvem sem complicações.</p>
                </div>
                <div class="tile real-time">
                    <img src="/imagens/calendario.png" >
                    <h3>Acompanhar Agenda</h3>
                    <p>Securely share files and folders with friends, family, and colleagues for live collaboration. No email attachments required.</p>
                </div>
                <div class="tile storage">
                    <img src="/imagens/processo.png">
                    <h3>Cadastrar Processos</h3>
                    <p>Whether you're sharing holidays, photos, or work documents, Fylo as you covered, allowing for all file types to be securely stored and shared.</p>
                </div>
            </div>
        </div>
        <div class="section3">
          <a href='https://br.freepik.com/vetores/escritorio'> <img src="/imagens/ad.jpg" width="500px"></a>
           
            <div class="sec3text">
                <h1>Conheça o AJUDI</h1>
               <iframe width="560" height="315" src="https://www.youtube.com/embed/qC3_32fvbYU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
       
       
    </div>