<div class="card-deck">
  <div class="card bg-light mb-3">
    <div class="card-body">
      <h5 class="card-title">Clientes</h5>
      <p class="card-text">Armazenar, editar ou até mesmo apagar registros de seus clientes nunca foi tão fácil e prático. Veja você mesmo!</p>
    </div>
    <div class="card-footer">
      <a href="/cliente" style="text-decoration: none;"><small class="text-muted">Ir</small></a>
    </div>
  </div>
  <div class="card bg-light mb-3">
    <div class="card-body">
      <h5 class="card-title">Documentos</h5>
      <p class="card-text">Chega de pilhas e pilhas de documentos estragando e ocupando espaço. Com AJUDI você pode armazená-los diretamente na nuvem sem complicações.</p>
    </div>
    <div class="card-footer">
      <a href="/documentos" style="text-decoration: none;"><small class="text-muted">Ir</small></a>
    </div>
  </div>
  <div class="card bg-light mb-3">
    <div class="card-body">
      <h5 class="card-title">Processos</h5>
      <p class="card-text"></p>
    </div>
    <div class="card-footer">
      <a href="/processo" style="text-decoration: none;"><small class="text-muted">Ir</small></a>
    </div>
  </div>
  <div class="card bg-light mb-3">
    <div class="card-body">
      <h5 class="card-title">Agenda</h5>
      <p class="card-text"></p>
    </div>
    <div class="card-footer">
      <a href="/agenda" style="text-decoration: none;"><small class="text-muted">Ir</small></a>
    </div>
  </div>
</div>